---
import Section from './Section.astro';

const year = new Date();
---

<Section>
	<footer class="text-center">
		© {year.getFullYear()} - This site uses <a class="underline hover:text-orange-600" href="https://astro.build/" target="_blank">Astro</a> and the theme <a class="underline hover:text-orange-600" href="https://github.com/nicdun/astro-tech-blog" target="_blank">astro-tech-blog</a> was made with
		♥️ by <a class="underline hover:text-orange-600" href="http://nicdun.dev" target="_blank">nicdun.dev</a> 
	</footer>
</Section>
